.div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 800px) {
        font-size: 12px;
    }
    button{
        @media screen and (max-width: 800px) {
            font-size: 10px;
            min-width: unset;
            padding: 4px;
            width: 120px;
            /* justify-content: flex-start; */
            align-items: center;
            height: 40px;
        }
    }
}